*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

}
header{
    background-image: url('images/donation13.jpg');
    background-repeat: no-repeat;
    background-position:center ;
    background-size: cover;
    padding: 16% 0%;
}
.text{
    text-align: center;
    width: 1200px;;
    margin: auto;
}
.text h1{
    font-size: 65px;
    font-weight: 700;
    line-height: 4.6rem;
    color: white;
    margin: 0% 15%;
}
.text p{
   
        color: white;
        font-size: 22px;
        margin: 3% 15%;
        line-height: 1.7em;
    
    
}
main{
    width: 1200px;
    margin: auto;
}
.dt{
    text-align: center;
    padding: 98px 0px;
}
.allh{

font-size: 45px;

line-height: 55px;

font-weight: 700;

margin-bottom: 30px;
}
.allp{

font-size: 20px;

color: #707070;

margin: 0px 200px;

margin-bottom: 30px;

line-height: 1.6rem;
}
.fivebox{

display: flex;

justify-content: space-between;

margin: 0px 200px;

margin: auto;

width: 70%;
}
.box{
  padding: 31px;
  border: 1px solid transparent;
  background-color: #FAFAFA;
}
.box h1{

font-size: 25px;

color: #707070;
}

.box:hover{


    border: 1px solid #FF5959;


}
.box:hover h1{
    color: #FF5959;
}
.btn{
 background-color: #FF5959;
 padding: 20px;
 border: none;
 color: white;
 font-size: 25px;
 text-transform: capitalize;
 border-radius: 10px;
 margin-top: 30px;
}

/* dp  */

.dp{

    text-align: center;
}
.boxmain{
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin: 50px 0px;;
}
.box3{
    background: #4F9DA61A;
    padding: 30px 35px;
}
.box2{
    background: #FF59591A;

    padding: 30px 35px;
}
.box1{
    background: #4F9DA61A;
    padding: 30px 35px;
}
.boxh{

font-size: 24px;

color: #121212;

margin: 14px 0px;
}
.boxp{

font-size: 17px;

line-height: 1.6rem;

color: #707070;
}






.side{
    width: 1200px;margin: auto;display: flex;align-items: center;
    padding: 50px 0px;

}
.sidetext{
    width: 50%;
}
.sideh{

margin-right: 200px;

font-size: 35px;

margin-bottom: 20px;
}
.sidep{

margin-bottom: 25px;

font-size: 17px;

margin-right: 109px;

line-height: 1.6rem;

color: #707070;
}
.sideimage{
width: 50%;
text-align: center;
}
.sideimage img{
    width: 95%;
}

.sideimage1{
    width: 50%;
    text-align: left;
    }

    .sideimage1 img{
        width: 95%;
    }


    .cf{

background: #FFF4D6;

padding: 100px;

}
    input{

width: 50%;

margin: auto;

padding: 14px;

background: #dddddd63;

color: white;

border: none;
}
    .sub{
        
padding: 10px 30px;
        
border: none;
        
background: #ff5959;
        
color: white;
        
font-size: 18px;
    }
